<nav>
    <h1>Meddy Care</h1>
    <form class="search-form" action="/search" method="GET">
        <input type="text" name="medicine" id="medicine" placeholder="zoek op medicijn of op RVG nummer">
        <button type="submit">zoeken</button>
    </form>
</nav>