<nav>
    <div class="top-nav">
        <img src="/assets/svg/udraw/meddy_single.svg" alt="">
    </div>
    <div class="back">
        <a href="/"><img src="/assets/svg/icon/arrow.svg" alt=""></a>
    </div>

</nav>