<nav>
    <h1>Meddy Care</h1>
        <form class="search-form" action="/search" method="POST">
            <input type="text" name="medicine" id="medicine" placeholder="zoek op medicijn of op RVG nummer">
            <button type="submit">zoeken</button>
        </form>
        <div class="loading-state">
                <div>
                <span class="letters">
                    Meddy.
                </span>
                <div class="scan-line"></div>
            </div>
</nav>