<article class="results-scan">
    <span class="regnum">
        <%= meds.registrationNumber %>
    </span>
    <h3>
        <%= meds.name %>

    </h3>

    <span class="active"><%= meds.activeIngredient %></span>

    </ul>
</article>