<article class="results-scan">
    <div>
        <span>gescande document</span>
        <p> <%= text %> </p>
    </div>
    <span class="regnum">
        <%= meds.registrationNumber %>
    </span>
    <h3>
        <%= meds.name %>

    </h3>

    <span class="active"><%= meds.activeIngredient %></span>

    </ul>
</article>