<%- include('partials/head') %>
<main>
    <div class="container">
        <div class="contain">
            <section class="intro">
                <h1>Meddy.</h1>
                <article>
                    <p>
                        Medicijn bibliotheek voor de juiste actieve stoffen.
                    </p>
                </article>
            </section>

            <section class="button-container">
                <div>
                    <a href="/upload-image-page">upload afbeelding</a>
                </div>
                <div>
                    <a href="/search">zoeken</a>
                </div>
            </section>
        </div>
        <% if (locals.history) { %>
            <section>
                <% for(let i = 0; i < history.length; i++) { %>
                    <article>
                        <h3>
                            <%= history[i].name %>
                        </h3>
                    </article>
                <% } %>
            </section>
        <% } %>
    </div>
</main>
<%- include('partials/footer')  %>