<%- include('partials/head') %>
<nav class="desktop-nav">
    <img class="meddy-logo" src="assets/svg/udraw/meddy_logo.svg" alt="">
</nav>
<header class="index-header">
    <section class="intro">
        <div>
            <img class="meddy-logo" src="assets/svg/udraw/meddy_logo.svg" alt="">

            <h1>Meddy helpt je met het vinden van je medicijn.</h1>
            <p>
                Zoek op naam of scan je medicijndoosje op meer te weten te komen over jouw medicijn.
            </p>
            <div class="button-container">
                <a href="/image-upload">upload afbeelding</a>
                <a href="/search">zoeken</a>
            </div>
        </div>
    </section>
    <!-- <section class="button-container">
        <a href="/upload-image-page">upload afbeelding</a>
        <a href="/search">zoeken</a>
    </section> -->
    <section class="intro-img">
        <div>
            <img class="desktop-history" src="assets/svg/udraw/undraw_image_viewer_wxce.svg" alt="image-viewer">
        </div>
        <!-- <div>
            <h2>Upload een medicijn</h2>
            <img src="assets/steps/step1.png" alt="step1">
        </div>
        <div>
            <h2>Scan het medicijn</h2>
            <img src="assets/steps/step2.png" alt="step2">
        </div>
        <div>
            <h2>Vind jouw medicijn</h2>
            <img src="assets/steps/step3.png" alt="step3">
        </div> -->

    </section>
    </div>
</header>
<main class="index">
    <% if (locals.history && history.length > 0) { %>
    <section class="scan-history">
        <h2>Recent gescand</h2>
        <% for(let i = 0; i < history.length; i++) { %>
        <article>
            <h3>
                <a href="/medicine/<%= history[i].id %>"><%= history[i].name %></a>
            </h3>
        </article>
        <% } %>
    </section>
    <% } else{ %>
    <section class="no-history">
        <h2>Geen recente medicijn</h2>
        <img class="mobile-history" src="assets/svg/udraw/undraw_image_viewer_wxce.svg" alt="image-viewer">
    </section>

    <% } %>
    <section class="introduction">
        <article>
            <img src="assets/steps/step1.png" alt="">
            <div>
                <h2>
                    Maak een foto van jouw medicijn
                </h2>
                <p>
                    Zoek op naam of upload een foto van je medicijn om meer te weten te komen over jouw medicijn.
                </p>
            </div>

        </article>
        <article>
            <img src="assets/steps/step2.png" alt="">
            <div>
                <h2>
                    RVG/EU/ code
                </h2>
                <p>
                    De RVG/EU/ code kan op de verpakking van je medicijn staan of op de label.
                </p>
            </div>

        </article>
        <article>
            <img src="assets/steps/step3.png" alt="">
            <div>
                <h2>
                    Klaar!
                </h2>
                <p>
                    En vind jouw medicijn met de daarbij horende actieve stoffen.
                </p>
            </div>

        </article>
    </section>
</main>
<%- include('partials/footer')  %>