<%- include('partials/head') %> 
<%- include('partials/header') %> 
    <main>
        <h2>Medicijn scanner</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="scanmeds" />
            <button type="submit">scan de foto</button>
        </form>
    </main>
<%- include('partials/footer')  %> 