<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Medicijnen scanner</title>
</head>

<body>
<main>
    <h1>Medicijn zoeken</h1>
    <form class="search-form" action="/search" method="POST">
        <input type="text" name="medicine" id="medicine" placeholder="zoek op medicijn of op RVG nummer">
        <button type="submit">medicijn zoeken</button>
    </form>
</main>

<%- include('partials/footer') %>