body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--grey-200);
}

* {
    box-sizing: border-box;
}

@import "pages/index";
@import "pages/upload";
@import "pages/scan-results";
@import "pages/search";
@import "pages/medicine-detail";
// @import "mediaqueries.scss"